@{
    ViewData["Title"] = "Home Page";
}
@model BookListViewModel


@foreach (var x in Model.Books)
{
    <partial name="ProjectSummary" model="x" />
}
<div page-model="@Model.PagingInfo" page-action="Index"
     page-classes-enabled="true"
     page-class="btn btn-light "
     page-class-normal="btn-outline-dark"
     page-class-selected = "btn-primary"
     page-url-category ="@Model.Category"
     class="btn-group m-1 text-center"
     ></div>
