@model IEnumerable<string>

<a class="card card-outline-primary m-2 p-2 btn btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home"
   asp-route-category="">
    Home
</a>

@foreach (string category in Model)
{
    <a class="card card-outline-primary m-2 p-2 btn btn-block
       @(category == ViewBag.SelectedCategory ? "btn-outline-primary" : "btn-outline-secondary")"
       asp-action="Index" asp-controller="Home"
       asp-route-category="@category"
       asp-route-page="1">
        @category
    </a>
}

